<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%=title%></title>
	</head>
	<body>
		<% extend("layout")%>
		<h1>You have found the secret page! Enter your secret codes below</h1>
		<form action="" method="post">
			<div class="input-group">
				<label for="member_code">Member Code:</label>
				<input name="member_code" id="member_code" type="password" />
			</div>
			<label for="admin_code">Admin Code:</label>
			<input name="admin_code" id="admin_code" type="password" />
			<button type="submit">Submit</button>
		</form>
		<%if(messages){%>
		<ul>
			<%messages.forEach(function(message){%>
			<li><%=message%></li>
			<%})}%>
		</ul>
	</body>
</html>
