<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%=title%></title>
	</head>
	<body>
		<% extend("layout")%>
		<h1>Users:</h1>
		<%if(user.admin === true){%>
		<ul>
			<%allUsers.forEach(function(oneUser){%>
			<li>Name: <%=oneUser.fullName%></li>
			<%})%>
		</ul>
		<%}else{%>
		<p>Only admins may view user list</p>
		<%}%>
	</body>
</html>
