<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%=title%></title>
	</head>
	<body>
		<% extend("layout")%>
		<h1>Users:</h1>
		<%if(user.admin === true){%>
		<p>
			<strong>
				Warning! Deleting a user will delete all associated messages.
			</strong>
		</p>
		<ul>
			<%allUsers.forEach(function(oneUser){%>
			<li>
				Name: <%=oneUser.fullName%>
				<form action="/users/<%=oneUser._id%>/delete" method="post">
					<button type="submit">Delete User</button>
				</form>
			</li>
			<%})%>
		</ul>
		<%}else{%>
		<p>Only admins may view user list</p>
		<%}%>
	</body>
</html>
